.example-spacer {
    flex: 1 1 auto;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 50px;
}

.btns {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
}



mat-drawer-container {

    background: linear-gradient(-45deg,
            #e6fce1,
            #f7f8f5,
            #cdfcc4,
            #b0ffba);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}