.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 50px;
}

.btns {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 100;
}

.social-btns button {
  color: white;
  background-color: white;
}

.side-nav-btn button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  display: flex;
  left: 0;
  width: 305px;
  background-color: #f0f0f0;
  padding: 20px;
  flex-direction: column;
  height: 100%;
}

.sidebar-header h3 {
  margin: 0;
}

.menu-items {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}

.menu-items li {
  margin-bottom: 10px;
}

.menu-items li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex: 1;
  padding: 10px;
  flex-wrap: wrap;
}

.group-details {
  flex-grow: 2;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-left: 20px;
  height: auto;
}

.group-details h2 {
  margin-top: 0;
}

.group-details div {
  margin-top: 10px;
}

.group-details button {
  margin-right: 10px;
}

.group-container {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  width: 79%;
  height: 50%;
}

p {
  margin-right: 15px;
}

.content {
  font-family: Helvetica, Arial, sans-serif;
}

.title {
  font-weight: bold;
  color: #333; /* Adjust color as needed */
  margin-bottom: 0;
}

.member-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.member-list li {
  margin-bottom: 5px; /* Adjust spacing between members */
  font-size: 14px; /* Adjust font size as needed */
  color: white; /* Adjust color as needed */
}

.member-list li::before {
  // content: "\2022"; /* Use a bullet character */
  // color: black; /* Adjust color of bullet */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.member-card {
  background-color: #673AB7; /* Change to the desired background color */
  margin-top: 10px; /* Adjust margin as needed */
  width: auto; /* Adjust width as needed */
  border-radius: 8px; /* Adjust border radius as needed */
}
